@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Backso';
  src: url('/assets/font/backso/Backso/Backso.otf') format('opentype'),
       url('/assets/font/backso/Backso/Backso.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff8801;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* 👇 Apply Backso font only to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Backso', sans-serif;
}
